.react-confirm-alert-overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent !important; /* Transparent background */
    backdrop-filter: blur(8px);
}
